@import "bootstrap";
@import "font-awesome";

//Colors
$mintGreen: #1de9b6;
$mainBlue: #3a9afc;
$bodyFont: #555555;
$danger: #ff1744;
$orange: #ff6d00;

// Type
.poppins {
	font-family: 'Poppins', sans-serif;
}

.nunito {
	font-family: 'Nunito', sans-serif;
}


// Animation
.ease {
	-webkit-transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); 
   -moz-transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); 
     -o-transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); 
        transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */

        -webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
   -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
     -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
        transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
}


body {
	outline:none;
	color: $bodyFont;
	font-size:15px;
	background-color:#fafafa;
	@extend .poppins;
}


// Sticky Footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



//Forms

input[type=text], input[type=email], input[type=password], select {
	border:0px;
	border-bottom:2px solid #ccc;
	background:none;
	position:relative;
	z-index:2;
	outline:none;
	width:100%;
	padding:20px 15px 10px 15px;
	font-size:20px;
	margin-bottom:20px;
}


label {
	position:absolute;
	font-size:20px;
	font-weight:300;
	z-index:1;
	padding-left:15px;
	top:25px;
	@extend .ease;
		&.active {
			transform:translateY(-150%);
			font-size:12px;
		}
}

.opt-in {
	margin-bottom:30px;
}

.checkbox-cover {margin-right:10px;}


label.btn  {
	position:relative;
	margin-left:15px !important;
	padding:2px 4px;
	top:0px;
	font-size:11px;
	outline:none !important;    							
		&.active {
			transform: translateY(0) !important;
			background-color:darken($mainBlue, 20%);
		}

		span.fa {
			opacity:0;
			font-size:11px;
			color:#fff;
		}
}



.btn.active span.fa {				
	opacity: 1;				
	font-size:12px;
}

.btn input {opacity:0; outline:none;}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


.error {border-bottom:2px solid $danger !important; color:$danger;}
em.error{display:none !important;}
.error + label {color:$danger; border:0px !important;}




// Components

.btn {border:0px !important;}

.btn-primary {
	background: $mintGreen;
	border:1px solid $mintGreen;
		&:hover {
			background-color:darken($mintGreen, 10%);
		}
}

.btn-secondary {
	background: $mainBlue;
	border:1px solid $mainBlue;
		&:hover {
			background-color:darken($mainBlue, 10%);
		}
}


.btn-image {
	background:none;

		&.cart-button {
			margin-top:12px;
			background:url('../images/cart-icon.png') no-repeat center top;
			width:50px;
			height:48px;
		}
}

.btn-lg {
	font-size:20px;
	padding:15px 30px;
}

.dropdown-menu {
	padding:10px 0px;

	li {
		.fa {
			color:$orange;
			font-size:14px;
			margin-right:10px;
		}
	}
}


// Structure

.search-container {
	border:2px solid $mintGreen !important;
	border-radius:50px;
	margin:10px 0px 0px 0px !important;
	padding:10px 20px !important;
	box-shadow:inset 0px 0px 8px rgba(0,0,0,0.05);

		&:before {
			font-family:"FontAwesome";
			content:"\f002";
			position:absolute;
			left:40px;
			color:#ccc;
			font-size:20px;
		}

		.search {
			font-size:20px;
			padding:0px 10px 0px 30px;
			border:0px;
			margin:0px;
		}
}

.navbar-default {
	background-color:#fff;
	min-height:80px;
	margin-bottom:0px;
		.navbar-brand {
			padding:13px 0 16px 15px;
			height:auto;

				img {
					width:100%;
					max-width:107px;
				}
		}
}

.login {
	background-color:#fafafa;
	max-width:900px;
	padding-top:50px;
}

.login-splash {
	text-align:center;
	font-size:36px;
	color:$mintGreen;
	@extend .nunito;
	font-weight:700;
		img {
			display:block;
			margin:auto;
			margin-bottom:30px;
		}

		p {
			margin-top:10px;
			color:#555;
			font-size:17px;
			font-weight:300;
			@extend .poppins;
		}
}

.button-container {
	margin-top:30px;
}

footer {
	@extend .poppins;
	font-weight:300;
	font-size:10px;
	color:#555555;
	text-align:center;
	position:absolute;
	bottom:15px;
	width:100%;
}
