@import "bootstrap";
@import "font-awesome";

//Colors
$mintGreen: #1de9b6;
$bodyFont: #555555;


// Type
.poppins {
	font-family: 'Poppins', sans-serif;
}

.nunito {
	font-family: 'Nunito', sans-serif;
}


// Animation
.ease {
	-webkit-transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); 
   -moz-transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); 
     -o-transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); 
        transition: all 100ms cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */

        -webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
   -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
     -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
        transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
}


body {
	outline:none;
	color: $bodyFont;
	font-size:15px;
	background-color:#fafafa;
	@extend .poppins;
}


//Forms
input[type=text], input[type=email], input[type=password] {
	border:0px;
	border-bottom:2px solid #ccc;
	background:none;
	position:relative;
	z-index:2;
	outline:none;
	width:100%;
	padding:20px 15px 10px 15px;
	font-size:20px;
	margin-bottom:20px;
}


label {
	position:absolute;
	font-size:20px;
	font-weight:300;
	z-index:1;
	padding-left:15px;
	top:25px;
	@extend .ease;
		&.active {
			transform:translateY(-150%);
			font-size:12px;
		}
}

.opt-in {
	margin-bottom:30px;
}

// Components
.btn-primary {
	background: $mintGreen;
	border:1px solid $mintGreen;

		&:hover {
			color:lighten($mintGreen, 50%);
		}
}

.btn-lg {
	font-size:20px;
	padding:15px 30px;
}


// Structure

.navbar-default {
	background-color:#fff;

		.navbar-brand {
			padding:13px 0 16px 15px;
			height:auto;

				img {
					width:100%;
					max-width:107px;
				}
		}
}

.login {
	background-color:#fafafa;
	max-width:900px;
}

.login-splash {
	text-align:center;
	font-size:36px;
	color:$mintGreen;
	@extend .nunito;
	font-weight:700;
		img {
			display:block;
			margin:auto;
			margin-bottom:30px;
		}

		p {
			margin-top:10px;
			color:#555;
			font-size:17px;
			font-weight:300;
			@extend .poppins;
		}
}

footer {
	@extend .poppins;
	font-weight:300;
	font-size:10px;
	color:#555555;
	text-align:center;
	position:absolute;
	bottom:15px;
	width:100%;
}

label.btn  {
	padding:2px 6px;
	top:0px;
	font-size:12px;
	outline:none;    							
		&.active {
			transform: translateY(0) !important;
		}

		span.fa {
			opacity:0;
			font-size:12px;
		}
}



.btn.active span.fa {				
	opacity: 1;				
	font-size:12px;
}

.btn input {opacity:0; outline:none;}